{:paths ["src" "resources"]
 :deps {org.clojure/clojure    {:mvn/version "1.11.1"}
        nano-id/nano-id {:mvn/version "1.1.0"}
        tick/tick {:mvn/version "0.6.2"} ; time encoding
        org.clj-commons/gloss {:mvn/version "0.3.6"} ; bytestream encoding
        ; xml conversion
        org.clojure/data.xml {:mvn/version "0.2.0-alpha9"} ; fix-dict xml conversion
        fipp/fipp {:mvn/version "0.6.27"} ; edn pretty printing, used in xml-conversion
        }

 :aliases
 {

  :nrepl {:extra-paths ["src-demo"]
          :extra-deps {nrepl/nrepl {:mvn/version "0.9.0"}
                       cider/cider-nrepl {:mvn/version "0.28.3"}}
          :main-opts  ["-m" "nrepl.cmdline"]}

  :demo {:extra-paths ["src-demo"]
         :extra-deps {aleph/aleph {:mvn/version "0.7.0"}
                      org.clj-commons/byte-streams {:mvn/version "0.3.4"}
                      nano-id/nano-id {:mvn/version "1.1.0"}}

                      }

 :build {:deps {io.github.clojure/tools.build {:mvn/version "0.9.6"}
                slipset/deps-deploy {:mvn/version "0.2.1"}}
        :ns-default build}

;
  }}