{:ctrader-tradeviewmarkets-quote
 {:spec "fix-specs/ctrader.edn"
  :header {:begin-string "FIX.4.4"
           :target-comp-id "CSERVER"
           :sender-comp-id "demo.tradeviewmarkets.3193299"
           :target-sub-id "QUOTE"
           :sender-sub-id "QUOTE"}
  :host "demo-uk-eqx-01.p.c-trader.com"
  :port 5201 ; plain text
  ;ssl-port 5211
  :username "3193299"
  :password "2025Florian"
  :log? true}}

;:sending-time #time/instant "2025-02-24T21:13:01.525Z",
;  :body-length 118,
; :msg-type "5",
;:msg-seq-num 1,
;  "outbound-seq-num" : 1,
; "inbound-seq-num" : 1,
; "last-logout" : "20231206",